CodeSpell.sln.DotSettings.user
CodeSpell.Tests/bin/Debug/CodeSpell.exe
CodeSpell.Tests/bin/Debug/CodeSpell.pdb
CodeSpell.Tests/bin/Debug/CodeSpell.Tests.dll
CodeSpell.Tests/bin/Debug/CodeSpell.Tests.dll.config
CodeSpell.Tests/bin/Debug/CodeSpell.Tests.pdb
CodeSpell.Tests/bin/Debug/CodeSpell.Tests.vshost.exe
CodeSpell.Tests/bin/Debug/CodeSpell.Tests.vshost.exe.config
CodeSpell.Tests/bin/Debug/dic/custom.dic
CodeSpell.Tests/bin/Debug/dic/en_US.aff
CodeSpell.Tests/bin/Debug/dic/en_US.dic
CodeSpell.Tests/bin/Debug/Hunspellx64.dll
CodeSpell.Tests/bin/Debug/Hunspellx86.dll
CodeSpell.Tests/bin/Debug/NHunspell.dll
CodeSpell.Tests/bin/Debug/NHunspell.pdb
CodeSpell.Tests/bin/Debug/NHunspell.xml
CodeSpell.Tests/bin/Debug/nunit.framework.dll
CodeSpell.Tests/bin/Debug/nunit.framework.xml
CodeSpell.Tests/bin/Debug/report.xml
CodeSpell.Tests/bin/Debug/SpellEngine/dic/custom.dic
CodeSpell.Tests/bin/Debug/SpellEngine/dic/en_US.aff
CodeSpell.Tests/bin/Debug/SpellEngine/dic/en_US.dic
CodeSpell.Tests/bin/Debug/TestData/codeFile.aspx
CodeSpell.Tests/bin/Debug/TestData/codeFile.cs
CodeSpell.Tests/bin/Debug/TestData/codeFile.js
CodeSpell.v11.suo
